<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>悦听player</title>
  <!-- 样式 -->
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
<!--网易云api：https://neteasecloudmusicapi.vercel.app/#/?id=neteasecloudmusicapi-->
  <div class="wrap">
    <!-- 播放器主体区域 -->
    <div class="play_wrap" id="player">
      <div class="search_bar">
        <img src="./images/player_title.png" alt="" />
        <!-- 搜索歌曲 输入内容后回车，调用搜索接口-->
        <input type="text" v-model="serchText" @keyup.enter="serchMusic"/>
      </div>
      <div class="center_con">
<!-- 搜索歌曲列表 将上方搜索到的歌曲名称展示在左侧，通过mvid是否为空控制是否展示视频按钮-->
        <div class='song_wrapper'>
          <ul class="song_list">
            <li v-for="item in musicList">
              <a href="javascript:;"  @click="playMusic(item.id)" ></a>
              <b>{{item.name}}</b>
              <span v-if="item.mvid>0" @click="playMV(item.mvid)"><i></i></span>
            </li>
          </ul>
          <img src="./images/line.png" class="switch_btn" alt="">
        </div>
<!-- 歌曲信息容器，通过音频播放器的播放/暂停设置isplay的波尔值，当播放时isplay为真，
因此下面的class就成有了2个属性player_con.playing，也因此开始播放动画-->
        <div class="player_con" :class="{playing: isplay}">
          <img src="./images/player_bar.png" class="play_bar" />
          <!-- 黑胶碟片 -->
          <img src="./images/disc.png" class="disc autoRotate" />
          <img :src="musicAlbum" class="cover autoRotate" />
        </div>
        <!-- 评论容器 -->
        <div class="comment_wrapper">
          <h5 class='title'>热门留言</h5>
          <div class='comment_list'>
            <dl v-for="item in musicCommentslist" >
              <dt><img :src="item.user.avatarUrl"  :alt="item.user.nickname"></dt>
              <dd class="name">{{item.user.nickname}}</dd>
              <dd class="detail">{{item.content}}</dd>
            </dl>
          </div>
          <img src="./images/line.png" class="right_line">
        </div>
      </div>
<!-- 音频播放器，html标签，只要有播放地址，因为配置了autoplay将会自动播放，通过play/pause点击时间返回isplay的波尔值，供动画播放使用-->
      <div class="audio_con">
        <audio ref='audio' :src="musicURL" @play="play" @pause="pause" controls autoplay loop class="myaudio"></audio>
      </div>
<!--        视频播放器，html标签，返回播放地址即可，下面的div默认不可见，当showVideo为真时就会展示视频，因此当点击视频播放时，将其v-show设置为真即可-->
      <div class="video_con"  style="display: none;" v-show="showVideo">
        <video :src="videoURL" controls autoplay ref='video'></video>
        <div class="mask" @click="closeMV"></div>
      </div>
    </div>
  </div>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- 官网提供的 axios 在线地址 -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>